.container{
    position: relative;
    margin: 0;
    padding: 0;
    /* background-color:rgb(220, 220, 220); */
    background-color:#eceff2;
    /* width: 90wh; */
    height: 100%;
}
/* .popcard{
    position:absolute !important ;
    top: '20%' !important;
    left: '60%' !important;
    transform: 'translate(-50%, -50%)';
    width: '400px';
    background-color: rgb(246, 246, 250);
    border: '2px solid #000';
    box-shadow: 24; 
} */
/* .content{
    margin: 0;
    padding: 20px;
    width: 100%  ;
    display: flex  ;
    flex-direction: row ;
    justify-content: space-between ;
    background-color:rgb(236, 119, 119);
}


/* .css-13xfq8m-MuiTabPanel-root{
    padding: 0 !important;
} */