.table-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.hour-box {
    color: black;
    font-size: 12px;
    background-color: #d8d9db;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
  }
  
  .third-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 26px;
    width: 100%;
    justify-content: flex-end;
  }
  
  .line2-div {
    border: 0.5px solid #8a8b8c;
    margin: 10px;
    height: 2vh;
  }
  
  .overview-text3{
    font-size: 12px;
    color: black;
    font-weight: 500;
    cursor: pointer;
  }
  
  .selected-overview-text3 {
    font-size: 12px;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  
  .selected-hour-box {
    color: black;
    font-size: 12px;
    background-color: #2d67b4;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
  }

  .recent-data-text {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }

  .status-box {
    display: flex;
    flex-direction: row;
  }

  .dotIcon{
    margin-top: 4px;
    margin-right: 12px ;
  }