.css-ahj2mt-MuiTypography-root {
  font-size: 12px !important;
}
.MuiFormLabel-root {
  font-size: 14px !important;
}
.css-ize5hj-MuiTypography-root {
  margin-bottom: 5px !important;
}
/* .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked{
    color: #0c4ca8 !important;
  }
  .css-i4bv87-MuiSvgIcon-root{
    color: #0c4ca8;
  } */
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 190px !important;
}
/* .MuiTableCell-head {
  padding: 5px !important;
}
.MuiTableCell-body {
  padding: 5px !important;
} */
